@import"variables";

.sectionBlog{
    display: grid;
    grid-template-columns: 6fr 6fr;
    text-align: center;
    
    
    padding: 10%;
        p{
            padding: 3%;
            font-size: xx-large;
            
        }
        a{
            text-decoration: none;
            border-bottom:1px solid royalblue;
            color: rgb(199, 142, 76);
        }
        p:hover{
            text-transform: uppercase;
            font-weight: bold;
        }
        a:hover{
            color: crimson;
        }
}

/*Blog-Videos*/
.sectionVideos{
    background-image: $fondoMain;
    display: block;
    width: 100vw;
    iframe{
        width: 100%;
        height: 65vw;
    }
}

/*Blog-Articulos*/
.sectionArticulos{
    margin-top: 5%;
    margin-bottom: 2%;
    h3{
        color: cornflowerblue;
        text-shadow: rgb(12, 11, 12) 1px 1px 2px;
    }
    h5{
        text-align: center;
    }
}

@media only screen and (min-width: 999px) {
    .sectionVideos{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr ;
        grid-template-rows: repeat(3,18vw);
        text-align: center;
        width: 100vw;
        iframe{
            width: 80%;
            height:80%;
        }
    }
}