@import"variables";

.sectionServicios{
    display: grid;
    grid-template-columns: 1fr;
    background-image: $fondoMain;
    padding-top: 15px;
    
    button{
        margin: 5%;
        border: 2px solid black;
    }
}
