@import"variables";
@import"general";
@import"header";
@import "index";
@import "footer";
@import"servicios";
@import"Blog";
@import"contacto";
@import"nosotros";
@import"Error404";


.main404{
    background-image: $fondoMain;
    article{
        padding-top: 25%;
        text-align: center;
        font-size: 200%;
        font-weight: bold;
    }
    img{
        width: 100%;
    }
}


@media only screen and (min-width: 960px) {
.main404{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 100%;
        padding-top: 25%;
    }
}

}